body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

/* header */

/* sony */
.ms_imgsony img {
    width: 120px;
}

/* menù */
.ms_buttonhead {
    background-color: #363636;
    padding: 10px;
    border-radius: 20px;
    width: 80px;
    text-align: center;
}
.ms_buttonhead a {
    color: #fff;
    text-decoration: none;
}

.ms_lens_search img {
width: 30px;
margin: 8px 20px;
}

/* main */

/* returnal */
.ms_bg1_returnal {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 130px;
}

.ms_bg1_returnal img {
    width: 250px;
    padding-top: 230px;
}

.ms_bg1_returnal h1 {
    font-size: 35px;
}


.ms_btn_acquistaora {
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #cd3d0f;
    text-decoration: none;
    border: 1px solid #992f0e;
    font-weight: bold;
}

/* returnal and ratchet clank */

.ms_videogames1 {
    margin-top: 160px;
}


/* playstation 5 */
.ms_play5 {
    margin-top: 110px;
}

.ms_play5 h2 {
    font-size: 35px;
}
.ms_play5 p {
    color: #727272;
    font-weight: bold;
}
.ms_buttonblue {
    text-decoration: none;
    background-color: #2D64E6;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #96b2f3;
    color: #fff;
    font-weight: bold;
}

/* it takes two */
.ms_bg2_ittakestwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.ms_bg2_ittakestwo img {
    width: 250px;
    padding-top: 60px;
}

/* nuove uscite */
.ms_bg_newrelease {
    background-color: #1f1f1f;
    color: #fff;
}

/* esplora playstation 4 */
.ms_play4 h1 {
    font-size: 35px;
}
.ms_play4 p {
    color: #727272;
    font-weight: bold;
}
















@media all and (min-width: 768px) {
    .ms_bg1_returnal img {
        width: 350px;
}
    .ms_bg2_ittakestwo img {
        width: 350px;
    }
}

@media all and (min-width: 992px) {
    .ms_bg1_returnal img {
        width: 200px;
    }
    .ms_bg2_ittakestwo img {
        width: 200px;
    }
}
    
@media all and (min-width: 1400px) {
    .ms_bg1_returnal {
        padding-top: 190px;
    }
}