body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

h1 {
    font-size: 35px;
}

p {
    color: #727272;
    font-weight: bold;
}

/* header */

/* sony */
.rs_imgsony img {
    width: 120px;
}

/* menù */
.rs_buttonhead {
    background-color: #363636;
    padding: 10px;
    border-radius: 20px;
    width: 80px;
    text-align: center;
}
.rs_buttonhead a {
    color: #fff;
    text-decoration: none;
}

.rs_lens_search img {
width: 30px;
margin: 8px 20px;
}

/* main */

/* returnal */
.rs_bg1_returnal {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 130px;
}

.rs_bg1_returnal img {
    width: 250px;
    padding-top: 230px;
}


.rs_btn_acquistaora {
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #cd3d0f;
    text-decoration: none;
    border: 1px solid #992f0e;
    font-weight: bold;
}

/* returnal and ratchet clank */

.rs_videogames1 {
    margin-top: 160px;
}


/* playstation 5 */
.rs_play5 {
    margin-top: 110px;
}

.rs_buttonblue {
    text-decoration: none;
    background-color: #2D64E6;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #96b2f3;
    color: #fff;
    font-weight: bold;
}

/* it takes two */
.rs_bg2_ittakestwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.rs_bg2_ittakestwo img {
    width: 250px;
    padding-top: 60px;
}

/* nuove uscite */
.rs_bg_newrelease {
    background-color: #1f1f1f;
    color: #fff;
}

/* esplora playstation 4 */

.rs_play4 

/* playstation plus */
.rs_bg_playplus {
    background-color: #bebcbb;
}

.rs_playstationplus {
    width: 70%;
}

.rs_button_playplus {
    text-decoration: none;
    background-color: #d9dadc;
    padding: 10px 15px;
    border-radius: 20px;
    color: #2d64e6;
    font-weight: bold;
}
.rs_bannerplus {

}

/* sconti */


/* play now */
.rs_bg_playnow {
    background-color: #161c3b;
}

.rs_button_playnow {
    text-decoration: none;
    background-color: #d9dadc;
    padding: 10px 15px;
    border-radius: 20px;
    color: #000;
    font-weight: bold;
}

/* social */
.rs_social {
    padding: 20px 0 40px 0;
}
.rs_social h1 {
    padding-bottom: 60px;
}

/* footer */
footer {
    background-color: #00439c;
}
.rs_languagelogo {
    width: 25px;
}
footer a {
    text-decoration: none;
    color: #fff;
    line-height: 30px;
}
ul {
    list-style: none;
}

.rs_info {
    text-decoration: underline;
}

/* breakpoints */

@media all and (min-width: 768px) {
    .rs_bg1_returnal img {
        width: 350px;
}
    .rs_bg2_ittakestwo img {
        width: 350px;
    }

    .rs_bg_playplus {
        padding: 0 30px;
    }

    .rs_padding_ps5 {
        margin-top: 65px;
    }
}

@media all and (min-width: 992px) {
    .rs_bg1_returnal img {
        width: 200px;
    }
    .rs_bg2_ittakestwo img {
        width: 200px;
    }
    .rs_padding_ps5 {
        margin: 160px 0 180px 0;
    }
}
    
@media all and (min-width: 1400px) {
    .rs_bg1_returnal {
        padding-top: 190px;
    }
    
    .rs_padding_ps5 {
        margin-top: 200px;
    }
}